* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100% !important;
  position: relative;
  font-size: 20px;
  scroll-behavior: smooth;
  overflow-anchor: none;
  overscroll-behavior: contain;
  will-change: scroll-position;
}
body {
  min-height: 100% !important;
  height: 100%;
  background-color: $tree-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: $tree-color;
  font: {
    family: $header-font;
    size: 2.6rem;
  }
}

@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}

// Block resizing on below 320px screen width
@media only screen and (max-width: 320px) {
  body {
    width: 320px;
  }
  h1 {
    white-space: nowrap;
  }
  div {
    max-width: 320px !important;
  }
  .container {
    max-width: 320px !important;
    header {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
  .logo-container {
    width: 80%;
    max-width: 90%;
    margin: 0 auto;
  }
  .description {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .modal {
    width: 100% !important;
  }
  ul {
    width: 320px !important;
  }
}
