* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: relative;
  font-size: 20px;
  scroll-behavior: smooth;
  overflow-anchor: none;
  overscroll-behavior: contain;
  will-change: scroll-position;
}
body {
  background-color: $tree-color;
  height: 100%;
  &::-webkit-scrollbar {
    border-radius: 20px;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--folder-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

h1 {
  color: $tree-color;
  font: {
    family: $header-font;
    size: 2.6rem;
  }
}

// Block resizing below 320px screen width
@media only screen and (max-width: 320px) {
  body {
    width: 320px;
  }
  h1 {
    white-space: nowrap;
  }
  div {
    max-width: 320px !important;
  }
  .container {
    max-width: 320px !important;
    header {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
  .logo-container {
    width: 80%;
    max-width: 90%;
    margin: 0 auto;
  }
  .description {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .modal {
    width: 100% !important;
  }
  ul {
    width: 320px !important;
  }
}
