@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700|Nunito+Sans:400,700&display=swap');

$tree-color: #330b15;
$white-color: #fff;
$body-font: 'Nunito Sans';
$header-font: 'Alegreya Sans SC';
$box-font: 'Nunito Sans';
$box-breadcrumb: #f1f3f4;
$font-color: #141823;
$leaf-color: #df8230;
$sunshine-color: #f9f2e6;
$button-color: #7f2538;
$menu-color: #e84855;
