#about-us {
  background-color: $white-color;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }
}

.box {
  position: relative;
  font: {
    family: $box-font;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    overflow: hidden;
  }
  &-path {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: $white-color;
    min-height: 50px;
    margin-bottom: 1rem;
    border-radius: 10px;
    & > div {
      display: flex;
      padding: 0 1.5rem;
      &:last-child {
        white-space: pre;
      }
    }
    &-breadcrumb {
      display: flex;
      align-items: center;
      background-color: $box-breadcrumb;
      width: 100%;
      height: 40px;
      i {
        color: $leaf-color;
        padding-right: 15px;
      }
    }
  }
  &-content {
    display: flex;
    height: 100%;
  }
  &-folders {
    background-color: $white-color;
    width: 50%;
    margin-right: 0.5rem;
    border-radius: 10px;
    height: 100%;
  }
  &-info {
    width: 50%;
    background-color: $white-color;
    margin-left: 0.5rem;
    border-radius: 10px;
    height: 100%;
  }
}

.slider-background {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: $leaf-color;
}
.slider-button {
  border-radius: 20px;
  margin-left: 2px;
  height: 16px;
  width: 16px;
}
