.bird {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &-container {
    position: absolute;
    width: 13%;
    height: 13%;
    .hover-container {
      position: absolute;
      width: 400px;
    }
    .hover-description {
      position: absolute;
      overflow: hidden;
      background-color: $white-color;
      border-radius: 20px;
      z-index: -2;
      cursor: default;
      user-select: none;
      h3 {
        padding: 0 30px;
        padding-top: 20px;
        text-transform: uppercase;
        color: $leaf-color;
      }
      p {
        padding: 20px 30px;
        overflow: hidden;
        color: $tree-color;
      }
    }
  }
}

@media only screen and (max-width: 2000px) {
  .logo-container {
    .bird-container {
      &:nth-child(odd) {
        .hover-container {
          right: 90% !important;
        }
      }
      &:nth-child(even) {
        .hover-container {
          left: 90% !important;
        }
      }
    }
  }
}
