#faq {
  // margin-top: -8rem;
  margin-bottom: 2.5rem;
  .container {
    color: $white-color;
    max-width: 1200px;
    h1 {
      margin-bottom: 1rem;
      font: {
        family: $header-font;
        size: 2rem;
      }
    }
  }
  .faq {
    &-icon {
      display: flex;
      align-items: center;
      font-size: 0.5rem;
      transform-origin: center center;
    }
    &-description {
      max-height: 0;
      overflow: hidden;
      text-align: justify;
      margin-left: 1.5rem;
      font: {
        size: 1.3rem;
        family: $body-font;
      }
    }
    &-title {
      margin-left: 1rem;
      background-color: transparent;
      border: none;
      color: $white-color;
      font: {
        size: 1.6rem;
        family: $header-font;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  #faq {
    // margin-top: -4rem;
    > .container {
      max-width: 1000px;
    }
    .faq {
      &-description {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #faq {
    // margin-top: -2rem;
    > .container {
      max-width: 80%;
    }
    .faq {
      &-description {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  #faq {
    .container {
      max-width: 90%;
    }
    .faq {
      .container {
        margin: 0;
        max-width: 100%;
      }
      &-description {
        font-size: 0.7rem;
      }
    }
  }
}

@media only screen and (max-width: 433px) {
  #faq {
    .faq-title {
      font-size: 1rem;
    }
  }
}
