#faq {
  margin-bottom: 2.5rem;
  .container {
    color: $white-color;
    max-width: 1200px;
    h1 {
      margin-bottom: 1rem;
      color: $white-color;
      font: {
        family: $header-font;
        size: 2rem;
      }
    }
  }
  .faq {
    &-icon {
      display: flex;
      align-items: flex-start;
      font-size: 0.5rem;
      transform-origin: center center;
      i {
        font-size: 1rem;
        padding-top: 0.5rem;
      }
    }
    &-description {
      max-height: 0;
      overflow: hidden;
      text-align: justify;
      margin-left: 2rem;
      font: {
        size: 1.3rem;
        family: $body-font;
      }
    }
    &-title {
      margin-left: 1rem;
      background-color: transparent;
      border: none;
      color: $white-color;
      text-align: initial;
      font: {
        size: 1.6rem;
        family: $header-font;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  #faq {
    > .container {
      max-width: 1000px;
    }
    .faq {
      &-description {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #faq {
    > .container {
      padding: 0 3vmin;
    }
    .faq {
      &-description {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 896px) {
  #faq {
    .faq {
      &-icon {
        i {
          font-size: 0.7rem;
        }
      }
      &-title {
        font-size: 1.3rem;
      }
      &-description {
        margin-left: 0rem;
        font-size: 0.6rem;
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  #faq {
    .container {
      max-width: 100%;
      padding: 0 3vmin;
    }
    .faq {
      .container {
        margin: 0;
        max-width: 100%;
      }
      &-icon {
        i {
          padding-top: 0.3rem;
        }
      }
      &-description {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  #faq {
    .faq-title {
      font-size: 1rem;
    }
  }
}
