#gallery {
  margin-bottom: 3rem;
  margin-top: -6rem;
  position: relative;
  .container {
    width: 1200px;
    margin: 0 auto;
    h1 {
      color: $white-color;
      margin-bottom: 1rem;
      font: {
        family: $header-font;
        size: 2rem;
      }
    }
  }
  .grid {
    &-gallery {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: 250px;
      grid-auto-rows: minmax(50px, auto);
      grid-auto-flow: dense;
    }

    &-item {
      height: 250px;

      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .lightbox {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    img {
      max-width: 70%;
      max-height: 80%;
      object-fit: contain;
      box-shadow: 1px 1px 15px rgba($color: #000000, $alpha: 0.7);
      z-index: 99;
    }
    .loading {
      color: white;
      position: fixed;
      display: flex;
      width: 100vw;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      justify-content: center;
      align-items: center;
    }
    .arrow {
      position: fixed;
      top: 50%;
      background-color: transparent;
      font-size: 2rem;
      border: none;
      color: $white-color;
      cursor: pointer;
      padding: 3rem 2rem;
      transform: translateY(-50%);
      &.next {
        right: 5%;
      }
      &.previous {
        left: 5%;
      }
    }
  }
}

@media only screen and(max-width: 1600px) {
  #gallery {
    .container {
      max-width: 1000px;
      width: auto;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #gallery {
    margin-top: -2rem;
    .container {
      padding: 0 3vmin;
    }
  }
}
@media only screen and (max-width: 896px) {
  #gallery {
    margin-top: 0;
    .container {
      padding: 0 3vmin;
    }
    h1 {
      margin-bottom: 2rem;
    }
  }
}
