main {
  .container {
    position: relative;
    max-width: 100vw;
    height: 100%;
    header {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100vw;
      width: 100%;
      .logo-container {
        position: relative;
        display: flex;
        padding-top: 3rem;
        flex-direction: column;
        align-items: center;
        color: $white-color;
        font: {
          family: $body-font;
        }
        text-align: justify;
      }
      h1 {
        margin-bottom: 2rem;
        color: $tree-color;
        font: {
          family: $header-font;
          size: 2.6rem;
        }
      }
      .description {
        max-width: 1200px;
        margin: 0 auto;
        color: $tree-color;
        font-size: 1.3rem;
        font-weight: bold;
      }
      .hover-container {
        position: absolute;
        width: 300px;
      }
      .hover-description {
        position: absolute;
        top: -11px;
        left: 37px;
        border-top: 4px solid #fff;
        width: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        overflow: hidden;
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        h3 {
          width: 380px;
          padding: 10px 0;
          text-transform: uppercase;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
        p {
          width: 380px;
          overflow: hidden;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
      }
      .hover {
        position: relative;
        z-index: 10;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: $tree-color;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
      .arrow {
        position: absolute;
        top: 16px;
        left: 11px;
        width: 4px;
        transform-origin: top;
        z-index: 5;
        background-color: white;
        opacity: 0;
        border: 2px solid white;
      }
    }
    .background {
      position: relative;
      z-index: -1;
      &-image {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  main {
    .container {
      header {
        .description {
          max-width: 900px;
          font-size: 1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  main {
    .container {
      header {
        h1 {
          margin-bottom: 1rem;
        }
        .description {
          max-width: 80%;
          font-size: 1rem;
        }
      }
    }
  }
}
