.motive-slider {
  transition: 0.3s;
  z-index: 1;
  position: fixed;
  right: 8rem;
  top: 0;
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  background-color: var(--background-color);

  h5 {
    color: var(--main-color);
  }

  .slider-background {
    position: relative;
    align-items: center;
    background-color: var(--folder-color);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: 25px;
    margin-right: 0.5rem;
    transition: 0.3s ease-in-out;
    width: 50px;
  }
  i {
    position: absolute;
    font-size: 0.6rem;
    top: 53%;
    transform: translateY(-50%);
    color: var(--selected-color);
  }
  i.sun {
    right: 6px;
  }
  i.moon {
    left: 6px;
  }

  .slider-button {
    position: relative;
    background-color: var(--selected-color);
    border-radius: 20px;
    cursor: pointer;
    height: 16px;
    outline: none;
    transition: 0.3s ease-in-out;
    width: 16px;
    z-index: 10;
    border: none;
  }
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

@media only screen and (max-width: 1149px) {
  .motive-slider {
    right: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .motive-slider {
    padding: 0.5rem;
    background-color: transparent;
    right: 0.2rem;
    h5 {
      display: none;
    }
  }
}
