#navigation-mobile {
  display: flex;

  h1 {
    img {
      height: 100px;
    }
  }
  .menu {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 9999;
    height: 50px;
    width: 50px;
    border: none;
    background-color: $menu-color;
    border-radius: 100%;
    font-size: 1rem;
    color: $white-color;
    box-shadow: 0px 0px 35px rgba($color: #000000, $alpha: 0.5);
  }
  nav {
    position: relative;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    padding-bottom: 20px;
    background-color: $button-color;
    z-index: 9999;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 50px;
    // opacity: 0;
    .close {
      position: absolute;
      top: 30px;
      right: 30px;
      border: none;
      color: $white-color;
      font-size: 1.6rem;
      background-color: transparent;
    }
    h1 {
      margin: 2.5rem 0;
      overflow: hidden;
      transform-origin: center;
      img {
        height: 200px;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
      width: 100%;
    }
    a {
      padding: 20px;
      text-decoration: none;
      color: $white-color;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: $header-font;
    }

    footer {
      position: absolute;
      bottom: 0;
      margin: 3rem 0;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 912px) {
  #navigation-mobile {
    h1 {
      img {
        height: 150px;
      }
    }
  }
}
@media only screen and (max-width: 814px) {
  #navigation-mobile {
    h1 {
      img {
        height: 120px;
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  #navigation-mobile {
    h1 {
      img {
        height: 100px;
      }
    }
  }
}

@media only screen and(orientation: landscape) {
  #navigation-mobile {
    nav {
      flex-direction: row;
      justify-content: center;
      h1 {
        display: flex;
        justify-content: center;
        width: 50%;
      }
      div {
        width: 50%;
      }
      footer {
        margin: 2rem 0;
      }
    }
  }
}
