nav#desktop {
  height: 50px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  border-radius: 20px;
  width: fit-content;
  z-index: 90;
  h1 {
    display: flex;
    align-content: center;
    align-items: center;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    img {
      height: 170px;
    }
  }
  > div {
    display: inline-flex;
    align-items: center;
    padding: 0 52px;
    width: min-content;
    white-space: nowrap;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);

    &.left {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      padding-left: 80px;
      a:first-of-type {
        padding-right: 40px;
      }
    }
    &.right {
      padding-right: 80px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      a:first-of-type {
        padding-right: 40px;
      }
    }
    > a {
      color: var(--font-color);
      text: {
        decoration: none;
      }
      font: {
        family: $header-font;
        weight: 700;
      }
      transition: 0.3s;
      &:hover {
        color: var(--folder-color);
        transition: 0.3s;
      }
      &.disabled {
        cursor: not-allowed;
        &:hover {
          text-decoration: line-through;
        }
      }
    }
  }
}

.active {
  color: var(--folder-color) !important;
}

@media only screen and (max-width: 1149px) {
  nav#desktop {
    h1 {
      img {
        height: 130px;
      }
    }
    div {
      &.left {
        padding: 0 20px 0 40px;
        a:first-of-type {
          padding-right: 20px;
        }
      }
      &.right {
        padding: 0 40px 0 20px;
        a:first-of-type {
          padding-right: 20px;
        }
      }
    }
    a {
      font-size: 0.8rem;
    }
  }
}
