aside {
  position: fixed;
  top: 30%;
  left: 0;
  background-color: var(--social-bg-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #000000aa;
  z-index: 9999;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s ease-in-out;
  a {
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    i {
      font-weight: 400;
    }
    &:hover {
      color: var(--folder-color);
    }
  }
  .discord {
    margin-top: 1.5px;
  }
}

@media only screen and (max-width: 896px) {
  aside {
    position: initial;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
  }
}
