#baby-bird {
  top: 28.2%;
  right: 15%;
}

@media only screen and (max-width: 1514px) {
  #baby-bird {
    top: 31.2%;
  }
}
@media only screen and (max-width: 1149px) {
  #baby-bird {
    top: 23.2%;
  }
}
