#black-bird {
  top: 78.5%;
  right: 35%;
  .right-eyelid path {
    fill: #41393a;
  }
  .left-eyelid path {
    fill: #41393a;
  }
  .left-eye path {
    fill: #e3dede;
  }
  .right-eye path {
    fill: #e3dede;
  }
  .body path:first-of-type {
    fill: #322f34;
  }
  .mane-first path {
    fill: #41393a;
  }
  .mane-second path {
    fill: #41393a;
  }
  .mane-third path {
    fill: #41393a;
  }
  .tail path {
    fill: #41393a;
  }
}

@media only screen and (max-width: 1514px) {
  #black-bird {
    top: 76%;
    right: 39%;
  }
}
@media only screen and (max-width: 1149px) {
  #black-bird {
    top: 77%;
    right: 33%;
  }
}
