.black {
  .right-eyelid path {
    fill: #41393a;
  }
  .left-eyelid path {
    fill: #41393a;
  }
  .left-eye path {
    fill: #e3dede;
  }
  .right-eye path {
    fill: #e3dede;
  }
  .body path:first-of-type {
    fill: #322f34;
  }
  .mane-first path {
    fill: #41393a;
  }
  .mane-second path {
    fill: #41393a;
  }
  .mane-third path {
    fill: #41393a;
  }
  .tail path {
    fill: #41393a;
  }
}
