.brown {
  .right-eyelid path {
    fill: #403022;
  }
  .left-eyelid path {
    fill: #403022;
  }
  .left-eye path {
    fill: #332f28;
  }
  .right-eye path {
    fill: #332f28;
  }
  .body path:first-of-type {
    fill: #71573e;
  }
  .mane-first path {
    fill: #403022;
  }
  .mane-second path {
    fill: #403022;
  }
  .mane-third path {
    fill: #403022;
  }
  .tail path {
    fill: #403022;
  }
}
