#bird-one {
  top: 50.7%;
  right: 15%;
}
#bird-two {
  top: 50.5%;
  left: 20%;
}
#bird-three {
  top: 57.9%;
  right: 15.5%;
}
#bird-four {
  top: 59.6%;
  left: 19%;
}
#bird-five {
  top: 66.1%;
  right: 25.5%;
}
#bird-six {
  top: 70.6%;
  left: 23.7%;
}
#bird-seven {
  top: 81.3%;
  right: 35%;
}

@media only screen and (max-width: 1514px) {
  #bird-one {
    top: 47.2%;
  }
  #bird-two {
    top: 46.9%;
    left: 20%;
  }
  #bird-three {
    top: 54%;
  }
  #bird-four {
    top: 55.5%;
  }
  #bird-five {
    top: 61.5%;
  }
  #bird-six {
    top: 65.8%;
  }
  #bird-seven {
    top: 76%;
  }
}

@media only screen and (max-width: 1149px) {
  #bird-one {
    top: 26.2%;
  }
  #bird-two {
    top: 30%;
  }
  #bird-three {
    top: 36.5%;
    right: 14%;
  }
  #bird-four {
    top: 46.8%;
  }
  #bird-five {
    top: 55.3%;
  }
  #bird-six {
    top: 64.7%;
    left: 15%;
  }
  #bird-seven {
    top: 76.7%;
    right: 28%;
  }
}

@media only screen and (max-width: 896px) {
  #bird-one {
    top: 40.2%;
    right: 8%;
  }
  #bird-two {
    top: 43.8%;
    left: 8%;
  }
  #bird-three {
    top: 50.6%;
    right: 5%;
  }
  #bird-four {
    top: 56.2%;
    left: 9%;
  }
  #bird-five {
    top: 65.9%;
    right: 2%;
  }
  #bird-six {
    top: 73%;
    left: 9%;
  }
  #bird-seven {
    top: 84.7%;
    right: 18%;
  }
}
